<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinized!</h1>
    <p>Original text: <%= @piglatinizer.text %> </p>
    <p>Pig Latin: <%= @piglatinizer.pl_text %> </p>
  </body>
</html>