# just as an example - need to FIX this to show the submitted data.


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    Pig Latin: <%= @piglatin %>
  </body>
</html>