<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form action="/" method="POST">
      <input name="user_phrase" type="text">
      <input id="Submit" type="submit">
    </form>
    
  </body>
</html>